
$body-background-color: $white !default;
$sidebar-color: $grey-lt-000 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: #2E2C27;
$body-heading-color: #51BAE8;
$search-result-preview-color: #2E2C27;
$nav-child-link-color: #2E2C27;
$link-color: #51BAE8;
$btn-primary-color: $purple-100;
$base-button-color: #f7f7f7 !default;